<div class="jumbotron">
  <h1>Welcome To equityCalc</h1>
  <p class="lead">
      Better Insight. Better Decisions.
  </p>
</div>

<div id="compSection">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h3 class="text-muted">Job Position</h3><br/>


                <div class="dropdown">
                    <b>Location</b> <br/>
                    <button class="btn btn-default dropdown-toggle" type="button" id="locationDropdown" data-toggle="dropdown">
                        {{empLocation}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="rolesDropdown">
                        <li ng-repeat="empLocation in empLocations" role="presentation">
                            <a role="menuitem" tabindex="-1" ng-click="setLocation(empLocation)" >{{empLocation}}</a>
                        </li>
                    </ul>
                </div><br />

                <div class="dropdown">
                    <b>Role</b> <br/>
                    <button class="btn btn-default dropdown-toggle" type="button" id="rolesDropdown" data-toggle="dropdown">
                        {{empRole}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="rolesDropdown">
                        <li ng-repeat="empRole in empRoles" role="presentation">
                            <a role="menuitem" tabindex="-1" ng-click="setJobRole(empRole)" >{{empRole}}</a>
                        </li>
                    </ul>
                </div><br />

                <div class="dropdown">
                    <b>Compensation Preference</b> <br/>
                    <button class="btn btn-default dropdown-toggle" type="button" id="preferenceDropdown" data-toggle="dropdown">
                        {{empPreference}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="rolesDropdown">
                        <li ng-repeat="empPreference in empPreferences" role="presentation">
                            <a role="menuitem" tabindex="-1" ng-click="setEmpPreference(empPreference)" >{{empPreference}}</a>
                        </li>
                    </ul>
                </div><br />

            </div>
        </div>



        <div class="col-md-6">
            <div class="well">
                <h3 class="text-muted">Company</h3><br/>
                <form class="form-inline" role="form">
                    <b> Current Valuation is $</b> <input type="text" class="form-control" ng-model="currentValuation" /><br/><br/>
                    <b> Projected 5 Year Valuation is $</b> <input type="text" class="form-control" ng-model="projectedValuation"  /><br/><br/>
                    <div class="dropdown">
                        <b>Current Employee Count</b> <br/>
                        <button class="btn btn-default dropdown-toggle" type="button" id="employeeCountDropdown" data-toggle="dropdown">
                            {{employeeCount}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="rolesDropdown">
                            <li ng-repeat="employeeCount in employeeCountList" role="presentation">
                                <a role="menuitem" tabindex="-1" ng-click="setEmployeeCount(employeeCount)" >{{employeeCount}}</a>
                            </li>
                        </ul>
                    </div><br />
                </form>
            </div>
        </div>

    </div>


    <div class="additionalIpnutContainer" id="additionalInputSection">
        <div class="well">
            <h3 class="text-muted">Default Input Values</h3>
            <div class="additionalInputHeader">Expand</div>
            <div class="additionalInputContent">
                <form class="form-inline" role="form">
                    {{empRole}} market salary is <input class="form-control" type="text" ng-model="empRoleSalary" ><br/>
                    Salary preference change is <input class="form-control" type="text" ng-model="empPreferenceSalBonus" ><br/>
                    <br/>
                    {{empRole}} base equity is <input class="form-control" type="text" ng-model="empRoleEquity" ><br/>
                    Equity preference multiplier is <input class="form-control" type="text" ng-model="empPreferenceEquityMultiplier" ><br/>
                    Equity risk layer denominator is <input class="form-control" type="text" ng-model="riskLayerDenominator" ><br/>


                </form>
            </div>
        </div>
    </div>


    <div id="recommendationSection">
        <div class="well">
            <h3 class="text-primary">
                Compensation Recommendation <span class="text-warning">{{warningMsg}}</span>
            </h3><br/>
            <h4>Salary {{empRoleSalary + empPreferenceSalBonus | currency:"$":0}} and Equity
                {{((empRoleEquity * empPreferenceEquityMultiplier) /
                riskLayerDenominator) | number:2}}% <br/>
            </h4>
            <div class="text-muted">
                    Equity value at hire: {{currentValuation * ((((empRoleEquity * empPreferenceEquityMultiplier) /
                riskLayerDenominator)))/100 | currency:"$":0}}<br/>
                    Equity value at 5 year mark: {{projectedValuation * ((((empRoleEquity *
                empPreferenceEquityMultiplier) / riskLayerDenominator)))/100 | currency:"$":0}}
            </div>
        </div>
    </div>


    <div id="supportingDataSection">
        <div class="well">
            <h3 class="text-muted">AngelList Data</h3><br/>

            <h4 class="text-success">{{angellistDataStatus}}</h4> <br/>

            <table class="table table-striped" >
                <thead>
                <tr class="info">
                    <th>Startup</th>
                    <th>Job Location</th>
                    <th>Job Title</th>
                    <th>Salary</th>
                    <th>Equity</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in angellistDataJobsFiltered">
                    <td>{{item.startup.name}}</td>
                    <td>
                        <span ng-repeat="tag in item.tags">
                            <span ng-if="tag.tag_type == 'LocationTag'">
                                {{tag.display_name}}
                            </span>
                        </span>
                    </td>
                    <td>{{item.title}}</td>
                    <td>{{(item.salary_max + item.salary_min)/2 | number}}</td>
                    <td>{{((1*item.equity_max) + (1*item.equity_min))/2 | number}}</td>
                </tr>
                </tbody>
            </table>



        </div>

    </div>

</div>
