<div class="jumbotron">
  <h1>Welcome To equityCalc</h1>
  <p class="lead">
      Better Insight. Better Decisions.
  </p>
</div>

<div class="row" id="compSection">

    <div class="col-md-6">
        <div class="well">
            <h3 class="text-muted">Employee</h3><br/>

            <div class="dropdown">
                <b>Role</b> <br/>
                <button class="btn btn-default dropdown-toggle" type="button" id="rolesDropdown" data-toggle="dropdown">
                    {{empRole}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="rolesDropdown">
                    <li ng-repeat="empRole in empRoles" role="presentation">
                        <a role="menuitem" tabindex="-1" ng-click="setJobRole(empRole)" >{{empRole}}</a>
                    </li>
                </ul>
            </div><br />

            <b>Preference</b> <input type="text" id="pref_slider" hidden="true" /><br />
            <b>Experience</b> <input type="text" id="experience_slider" hidden="true" /><br />
            <b>Responsibility</b> <input type="text" id="responsibility_slider" hidden="true" /><br />


        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <h3 class="text-muted">Company</h3><br/>

            <b>Valuation</b> <input type="text" id="valuation_slider" hidden="true" /><br />
            <b>Employee Count</b> <input type="text" id="emp_count_slider" hidden="true" /><br />

        </div>

        <div id="recommendationSection">
            <div class="well">
                <h3 class="text-primary">Recommendation</h3><br/>
                <h4>Salary {{compCount}} and Equity 1%</h4>
            </div>
        </div>

    </div>

</div>


<div id="supportingDataection">
    <div class="well">
        {{compCount}}
    </div>

</div>

